.bg-menu {

  background: linear-gradient(90deg, rgba(89, 231, 238, 1) 0%, rgba(37, 150, 215, 1) 100%);
  box-shadow: 0 8px 32px 0 rgb(34, 111, 255);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 150%;

}
